recursive-include inspinia/frontend/templates *
recursive-include inspinia/frontend/static *
recursive-include inspinia/migrations *
include install-requirements-py3.txt
include requirements-py3.txt
include install-requirements-py2.txt
include requirements-py2.txt
include README.md
include LICENSE