{% extends 'admin/base.html' %}

{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
{% endblock head_css %}

{% block access_control %}
    {% if current_user.is_authenticated %}
        <div class="navbar-text btn-group pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-user glyphicon glyphicon-user"></i>
                {% if current_user.first_name -%}
                    {{ current_user.first_name }}
                {% else -%}
                    {{ current_user.email }}
                {%- endif %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('app.index') }}">Landing Page</a></li>
                <li><a href="{{ url_for_security('change_password', next=admin_view.url) }}">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for_security('logout') }}">Logout</a></li>
            </ul>
        </div>
    {% else %}
        <div class="navbar-text btn-group pull-right">
            <a href="{{ url_for_security('login') }}"><i class="fa fa-sign-in"></i> Log In</a>
        </div>
    {% endif %}
{% endblock access_control %}